body {
	background-color: white;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 16px;
}

aside {
	width: 15vw;
	height: 100vh;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
}

aside ul {
	padding-left: 60px;
}

aside ul li {
	padding: 5px;
}

aside ul:first-child {
	padding-top: 40px;
}

.principle-container {
	position: relative;
	height: 100vh;
}
.final-section {
	position: relative;
	width: 100%;
	height: 100%;
	/* margin-left: 10vw; */
	margin: 20% 0 20% 0;
}

.final-section h2 {
	font-weight: 100;
	font-size: 4rem;
	width: 60vw;
	margin-bottom: 10vh;
}

.final-section .text {
	width: 40vw;
	margin-left: 50vw;
}

/* ----------- text --------- */

.text-box {
	border: black solid 3px;
	font-size: 4.236rem;
}

.text {
	font-size: 2.618rem;
}

.dieter-rams {
	position: absolute;
	width: 15vw;
	height: 15vw;
	top: 5vh;
	left: 80vw;
}

.text-box-one {
	border: black solid 3px;
	font-size: 4.236rem;
	position: absolute;
	top: 10vh;
	left: 20vw;
	width: 35vw;
	height: 30vh;
}

.text-one {
	position: absolute;
	font-size: 2.618rem;
	width: 60vw;
	top: 50vh;
	left: 35vw;
}

.text-two {
	position: absolute;
	top: 10vh;
	left: 20vw;
	width: 50vw;
	height: 30vh;
}

.text-box-two {
	position: absolute;
	top: 60vh;
	left: 45vw;

	height: 30vh;
	width: 45vw;
}

.text-box-three {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
	height: 30vh;
	width: 45vw;
}

.text-three {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
	width: 40vw;
	text-align: center;
}

.section-four {
	/* background-color: white; */
	width: 100vw;
	height: 100vh;
	/* position: sticky; */
	/* top: 0; */
	/* left: 0; */
	display: flex;
	align-items: center;
}

.text-four {
	width: 30vw;
	/* margin: 0%; */
	margin-right: 2.5%;
}

.text-box-four {
	width: 35vw;
	height: 40vh;
	margin-left: 2.5%;
}

.text-box-five {
	width: 40vw;
	height: 20vw;
	position: absolute;
	top: 102%;
	left: 54%;
}

.text-five {
	z-index: 2;
	width: 100vw;
	height: 100vh;
}

.text-five {
	display: flex;
	justify-content: space-around;
	margin-top: 40vh;
	width: 50vw;
	text-align: center;
}

h2 {
	font-weight: 100;
	margin-left: 15vw;
}

.grid-container {
	margin-left: 15vw;
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
}

.grid-container .text-box {
	width: 35vw;
	height: 35vw;
	margin-bottom: 10vh;
}

.grid-container .grid-text {
	width: 30vw;
	height: 30vw;
}

/* -----img----- */

.img-container img {
	margin-left: 10vw;
	max-width: 85vw;
}

.slide-show {
	/* position: sticky; */
	/* top: 0; */
	/* left: 0; */
	height: 100vh;
	margin-left: 15vw;
	text-align: center;
	overflow-y: scroll;
	overflow-x: scroll;
	display: flex;
}

.slide-show::-webkit-scrollbar {
	display: none;
}

.slide-show img {
	max-width: 600px;
	margin-right: 400px;
}

.recordplayer-img {
	display: flex;
	justify-content: center;
}

.shelves-img img {
	margin-top: 25vh;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

/* spørr om z index og sticky og få fjernet sticky så aside synes igjenn */

.speaker {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}
